header p {
    font-size: 30px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: Red;
    font-weight: bold;
    text-align:  center;
}

#buttons {
    align-items: center;
    margin: auto;
}
#buttons .btn{
    width: 9rem;
    height: 35px;
    font-size: 25px;
    text-align: center;
    margin: 5px;
    color: red;
}

.red{
    color: white;
    background-color: red;
    font-size: 29px;
    font-weight: bold;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}